# Lesson 3 Practice: Pandas Part 1

Use this notebook to follow along with the lesson in the corresponding lesson notebook: [L03-Pandas_Part1-Lesson.ipynb](./L03-Pandas_Part1-Lesson.ipynb).

## Instructions
Follow along with the teaching material in the lesson. Throughout the tutorial sections labeled as "Tasks" are interspersed and indicated with the icon: ![Task](http://icons.iconarchive.com/icons/sbstnblnd/plateau/16/Apps-gnome-info-icon.png). You should follow the instructions provided in these sections by performing them in the practice notebook.  When the tutorial is completed you can turn in the final practice notebook. For each task, use the cell below it to write and test your code.  You may add additional cells for any task as needed or desired.

## Task 1a: Setup

+ `numpy` as `np`
+ `pandas` as `pd`

In [2]:
import numpy as np
import pandas as pd

## Task 2a Create a `pd.Series` object

+ Create a series of your own design.

In [3]:
series1 = pd.Series([1, 2, 3, True, 5])
series1

0       1
1       2
2       3
3    True
4       5
dtype: object

## Task 2b: Creating a DataFrame

+ Create a pd.DataFrame object from a Python dictionary. Design the data as you like.

In [4]:
df_1 = pd.DataFrame({'cold': [0, 1, 2, 3], 'hot': [4, 5, 6, 7]})
df_1

   cold  hot
0     0    4
1     1    5
2     2    6
3     3    7

## Task 2c: Create DataFrame with labels

+ Create a 10x5 dataframe of random numeric integers that follow a [Guassian (normal) Distribution](https://docs.scipy.org/doc/numpy-1.15.0/reference/generated/numpy.random.normal.html). 
  + Center the distrubtion at 0.85.
  + We will use these values as assumed grades for a class of students
+ Adjust the row indexes to be the names of hypothetical students.
+ Adjust the columsn to be the names of hypothetical projects, homework, exam names, etc.

In [28]:
grade = np.random.normal(0.85, 0.4, size = (10 ,5))
name = ['zhang', 'san', 'li', 'si', 'wang', 'wu', 'shen', 'liu', 'mao', 'zi']
df_students = pd.DataFrame(grade, index = name, columns = ('A', 'B', 'C', 'D', 'E'))
df_students

              A         B         C         D         E
zhang  1.534205  1.288929  1.238335  0.012140  1.698548
san    0.759780  0.454050  0.851380  0.485207  0.609185
li     1.579336  0.713464  0.310258  0.565699  1.038355
si     0.738993  0.989275  1.448766  1.414305  1.105388
wang   1.300625  0.087225  0.632864  1.135173  1.238392
wu     0.929454  0.266413  0.561943  0.993655  0.481059
shen   0.417420  0.443899  1.374187  0.859246  1.136828
liu    0.393883  0.094407  0.714666  1.048029  0.552228
mao    1.100328  0.734109  0.715948  1.464910  1.056595
zi     0.957062  0.558158  0.285355  0.236997  1.115469

## Task 3a: Import the iris.csv file

+ Import the iris dataset.
+ Take a look at the `pd.read_csv` online documentation. Write example code in a Markup cell for how you would import this file if it were tab-delimited.

In [9]:
iris_df = pd.read_csv('data/iris.csv')

## Task 4a: Explore Data

 + Use `head`, `tail` and `sample` with the iris dataset.
 + Do the same with the dataset you created in task 2c.

In [11]:
iris_df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [15]:
df_students.head()

              A         B         C         D         E
zhang  0.731529  0.153041  0.936403  0.827628  0.567209
san    0.996345  0.487277  0.404808  0.436057  0.117849
li     0.895775  0.699108  0.707637  0.123777  1.033375
si     0.999018  1.559636  0.856734  0.929856  0.721052
wang   1.126422  0.480568  0.475852  1.256710  1.338429

In [12]:
iris_df.tail()

     sepal_length  sepal_width  petal_length  petal_width    species
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

In [13]:
iris_df.sample()

    sepal_length  sepal_width  petal_length  petal_width species
44           5.1          3.8           1.9          0.4  setosa

In [14]:
iris_df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

## Task 5a: Viewing columns and rows

+ Display the columns and indexes of the iris dataset.
+ Do the same with the dataset you created in Task 2c.

In [17]:
iris_df.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

In [19]:
iris_df.index

RangeIndex(start=0, stop=150, step=1)

In [18]:
df_students.columns

Index(['A', 'B', 'C', 'D', 'E'], dtype='object')

In [20]:
df_students.index

Index(['zhang', 'san', 'li', 'si', 'wang', 'wu', 'shen', 'liu', 'mao', 'zi'], dtype='object')

## Task 5b: Get Values

+ Check the version of `pandas` you have 
+ Use the appropriate method to convert the iris data to a dictionary.
+ Do the same with the dataset you created in Task 2c.

In [23]:
iris_df.to_dict()
df_students.to_dict()

{'A': {'zhang': 0.7315285230666229,
  'san': 0.9963445879821516,
  'li': 0.8957747855068281,
  'si': 0.9990184318713424,
  'wang': 1.126421687825642,
  'wu': 1.3047455992414243,
  'shen': 0.5316896428395272,
  'liu': 1.2505826645629678,
  'mao': 0.5189084758516987,
  'zi': 0.34740208633626857},
 'B': {'zhang': 0.15304099136596727,
  'san': 0.48727708670602166,
  'li': 0.699107733723116,
  'si': 1.5596359545669043,
  'wang': 0.480568267030051,
  'wu': 0.928664251879758,
  'shen': -0.20097697683908666,
  'liu': 1.4933624044273572,
  'mao': 0.5981360257496287,
  'zi': 1.1454352658416849},
 'C': {'zhang': 0.9364027887755397,
  'san': 0.4048078042378236,
  'li': 0.707637004390818,
  'si': 0.8567338043123108,
  'wang': 0.4758519622803079,
  'wu': 0.35189287597127306,
  'shen': 1.220176679607192,
  'liu': 1.2371974162885533,
  'mao': 0.8563146678713164,
  'zi': 1.048020760173412},
 'D': {'zhang': 0.8276276671882049,
  'san': 0.4360566091876233,
  'li': 0.1237766467443907,
  'si': 0.9298559494782898,
  'wang': 1.256709517095195,
  'wu': 0.06183317329967164,
  'shen': 0.7535672337404122,
  'liu': 0.7583935910925016,
  'mao': 1.0255879379181547,
  'zi': 0.9040802201736904},
 'E': {'zhang': 0.5672093078447857,
  'san': 0.11784903165208116,
  'li': 1.033374522821257,
  'si': 0.7210516418300686,
  'wang': 1.3384285956679869,
  'wu': 0.6546606146574379,
  'shen': 0.7472031513761882,
  'liu': 1.4232955769346605,
  'mao': 1.2453147590039002,
  'zi': 0.8766725456280994}}

## Task 5c: Using `loc`

+ Use any iris dataframe to:
  + Select a row slice with `loc`.
  + Select a row and column slice with `loc`.
  + Take a look at the [Pandas documentation for the `at` selector](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.at.html). Use what you learn there to select a single item with Pandas `at` accessor.

In [31]:
iris_df.loc[0:1]

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa

In [35]:
iris_df.loc[0:1, 'sepal_length']

0    5.1
1    4.9
Name: sepal_length, dtype: float64

In [33]:
df_students.loc['zhang']

A    1.534205
B    1.288929
C    1.238335
D    0.012140
E    1.698548
Name: zhang, dtype: float64

In [36]:
df_students.loc['zhang', 'A':'D']

A    1.534205
B    1.288929
C    1.238335
D    0.012140
Name: zhang, dtype: float64

In [37]:
df_students.loc['zhang', ['A', 'D']]

A    1.534205
D    0.012140
Name: zhang, dtype: float64

## Task 5d: Using `iloc`

+ Use any iris dataframe to:    
    + Select a row slice with `iloc`.
    + Select a row and column slice with `iloc`.
    + Take a look at the [Pandas documentation for the `iat` selector](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.iat.html). Use what you learn there to select a single item with Pandas `iat` accessor.

In [38]:
iris_df.iloc[0]

sepal_length       5.1
sepal_width        3.5
petal_length       1.4
petal_width        0.2
species         setosa
Name: 0, dtype: object

In [40]:
df_students.iloc[0]

A    1.534205
B    1.288929
C    1.238335
D    0.012140
E    1.698548
Name: zhang, dtype: float64

In [41]:
iris_df.iloc[0:1, 2:3]

   petal_length
0           1.4

## Task 5e: Boolean Indexing

+ Create subsets of the iris dataset using boolean indexes that:
    + Use one boolean operator.
    + Use two boolean operators.

In [44]:
condition1 = iris_df['sepal_length'] > 4
iris_df[condition1].head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [47]:
condition2 = iris_df['species'] == 'virginica'
condition2

0      False
1      False
2      False
3      False
4      False
       ...
145     True
146     True
147     True
148     True
149     True
Name: species, Length: 150, dtype: bool

In [48]:
iris_df[condition1 & condition2].head()

     sepal_length  sepal_width  petal_length  petal_width    species
100           6.3          3.3           6.0          2.5  virginica
101           5.8          2.7           5.1          1.9  virginica
102           7.1          3.0           5.9          2.1  virginica
103           6.3          2.9           5.6          1.8  virginica
104           6.5          3.0           5.8          2.2  virginica